<div class="col-10">
  <h1>Dynamic Form Controls</h1>
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()">

    <div formArrayName="mobiles">
       <h3>Enter Mobile Number</h3>
       <button (click)="addNewMobile()">Add New Mobile</button>

       <div *ngFor="let mob of mobiles.controls;let i = index" class="form-group" >
          <label>Mobile {{i+1}}</label><br>
          <input type="text" [formControlName]="i">

       </div>

    </div>

   <div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </div>

  </form>
</div>